# News EDA and model building

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

## Load and first look on data

In [9]:
data = pd.read_csv("financedata.csv", sep=",", header=None, encoding="utf-8", encoding_errors="ignore")
data.head()

          0                                                  1
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [10]:
data.columns = ["Sentiment", "News_text"]
data.head()

  Sentiment                                          News_text
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sentiment  4846 non-null   object
 1   News_text  4846 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

## Preprocess data

In [14]:
from sklearn.preprocessing import LabelEncoder


le = LabelEncoder()
data["Sentiment"] = le.fit_transform(data["Sentiment"]) # Label encoder transformation => [neutral = 1, negative = 0, positive = 2]
data.head()

   Sentiment                                          News_text
0          1  According to Gran , the company has no plans t...
1          1  Technopolis plans to develop in stages an area...
2          0  The international electronic industry company ...
3          2  With the new production plant the company woul...
4          2  According to the company 's updated strategy f...